.logo-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  max-width: 200px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.logo {
  width: 100%; /* Adjusted width to fill the container */
  height: auto;
}

@media (max-width: 768px) {
  .logo-banner {
    width: 50%;
    max-width: 150px;
  }
}

@media (max-width: 576px) {
  .logo-banner {
    width: 100%;
    max-width: 125px;
    justify-content: center;
  }
}
