.logo {
  width: 130px; /* Adjusted width to fill the container */
  height: auto;
}

@media (max-width: 768px) {
  .logo-banner {
    width: 50%;
    height: auto;
    text-align: left;
  }
}

@media (max-width: 576px) {
  .logo-banner {
    width: 50%;
    height: auto;
    justify-content: center;
  }
}
