#root {
  padding: 28px 50px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  background: rgb(4,82,191); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(4,82,191,0.8) 0%, rgba(4,82,191,0.8) 29%, rgba(0,53,155,0.8) 65%, rgba(205,18,138,0.8) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(4,82,191,0.8) 0%,rgba(4,82,191,0.8) 29%,rgba(0,53,155,0.8) 65%,rgba(205,18,138,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(4,82,191,0.8) 0%,rgba(4,82,191,0.8) 29%,rgba(0,53,155,0.8) 65%,rgba(205,18,138,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0452bf', endColorstr='#cd128a',GradientType=1 ); 
}
@media (max-width: 480px){
  #root {
    padding: 18px 20px;
  }
  
}
.header-block{
  position: relative;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
